<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nearest Hospital App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Filters: </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Choose the rating of the hospital:
      <ion-grid>
        <ion-row>
          <ion-col> <ion-button expand="block" (click)="oneStar()"> ★ </ion-button> </ion-col>
          <ion-col> <ion-button expand="block" (click)="twoStar()"> ★★ </ion-button> </ion-col>
          <ion-col> <ion-button expand="block" (click)="threeStar()"> ★★★ </ion-button> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> <ion-button expand="block" (click)="fourStar()"> ★★★★ </ion-button> </ion-col>
          <ion-col> <ion-button expand="block" (click)="fiveStar()"> ★★★★★ </ion-button> </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button (click)="RouteToNextNearest()" expand="block"> Next Nearest Hospital </ion-button>
    </ion-card-content>
  </ion-card>
  <div #map id="map"></div>
</ion-content>
